$color: red, blue, black, green, white, yellow, gray;
$display: inline, flex, grid, none, block;
$justify: center, space-between, space-around, space-evenly, start, end;
$align: center, start, end;
$max-width:500,1200,1500,1750;
$ul:none;
$position: relative, absolute;
$gaps: 0, 5, 10, 20, 40;
$shadow:3px 6px 9px 5px gray;

$colorMap: (
    mysky:#E4ECF0,
    myred: #d41515,
    mygreen: #33b959,
    myblue: #00486D,
);
.box{
    box-shadow: $shadow;
}
@for $i from -100 through 100{

    
    .pst-#{$i}{
        top: #{$i}px;
    }
    .psb-#{$i}{
        bottom: #{$i}px;
    }
    .psr-#{$i}{
        right: #{$i}px;
    }
    .psl-#{$i}{
        left: #{$i}px;
    }
    .text-#{$i}{
        font-size: #{$i}px;
    }
    .m-#{$i}{
        margin: #{$i*5}px;
    }
    .ml-#{$i}{
        margin-left: #{$i*5}px;
    }
    .mr-#{$i}{
        margin-right: #{$i*5}px;
    }
    .mb-#{$i}{
        margin-bottom: #{$i*5}px;
    }
    .mt-#{$i}{
        margin-top: #{$i*5}px;
    }
    .p-#{$i}{
        padding: #{$i*5}px;
    }
    .pl-#{$i}{
        padding-left: #{$i*5}px;
    }
    .pr-#{$i}{
        padding-right: #{$i*5}px;
    }
    .pb-#{$i}{
        padding-bottom: #{$i*5}px;
    }
    .pt-#{$i}{
        padding-top: #{$i*5}px;
    }
    .w-#{$i}{
        width: #{$i*20}px;
    }
    .h-#{$i}{
        height: #{$i*10}px;
    }
    .br-#{$i}{
        border-radius: #{$i}px;
    }
    .bn{
        border: none;
    }
}

@each $i in $color{
    .text-#{$i}{
        color: $i;
    }
    .bg-#{$i}{
        background-color: $i;
    }
} 
@each $i in $ul{
    .st-#{$i}{
        list-style: $i;
    }
    
} 
@each $name, $color in $colorMap {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
}
@each $i in  $display{
    .#{$i}{
        display: $i;
    }
}
@each $i in  $justify{
    .j-#{$i}{
        justify-content: $i;
    }
}
@each $i in  $align{
    .al-#{$i}{
        align-items: $i;
    }
}
@each $i in  $max-width{
    .mx-#{$i}{
        max-width: #{$i}px;
        margin: auto;
    }
}
@each $g in $gaps {
  .gap-#{$g} {
    gap: #{$g}px;
  }
}
@each $i in $position {
  .ps-#{$i}{
        position: $i;
    }
}